* {
    margin: 0;
    padding: 0;
}

title, div, header, main, footer {
    text-align: center;
}

header, body, footer {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #10001f;
    background-color: #f9f9f9;
}

ul {
    display: inline;
}

section {
    margin: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #10001f;
}

a:hover {
    color: #007aff;
}

footer {
    color: #838285;

}